body{
    text-align: center;
    font-family: Arial, sans-serif;
}
#colorBox{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 0 auto;
}
#copyButton{
    background-color: rgba(0, 128, 0, 0.838);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    
}
#copyButton:hover{
    background-color: rgb(8, 61, 8);
}
#colorCode{
    font-size: 20px;
}